<header id="header" class="header">
    <div class="container">
        <div class="header_inner">
            <a href="/" class="header_logo" aria-label="Fantabase homepage">
                <img class="header_logo-img" src="./images/logo.png" alt="Fantabase logo">
            </a>
            <nav class="header_nav" id="header_nav" aria-label="Main navigation">
                <ul class="header_nav-list">
                    <li class="header_nav-item">
                        <a href="#broken" class="header_nav-link">Problem</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#market" class="header_nav-link">Market</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#solution" class="header_nav-link">Our Solution</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#differentiators" class="header_nav-link">Differentiators</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#business-model" class="header_nav-link">Business Model</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#market-strategy" class="header_nav-link">Market Strategy</a>
                    </li>
                    <li class="header_nav-item">
                        <a href="#team" class="header_nav-link">Team</a>
                    </li>
                </ul>
            </nav>
            <div class="header_actions">
                <a href="#contact" class="header_btn">Contact Us</a>
                <button class="header_burger" aria-label="Toggle navigation menu" aria-expanded="false" aria-controls="header_nav">
                    <span class="header_burger-line" aria-hidden="true"></span>
                    <span class="header_burger-line" aria-hidden="true"></span>
                    <span class="header_burger-line" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</header>