<nav class="nav-bar" aria-label="Section navigation" aria-hidden="true">
    <div class="nav-bar_inner">
        <ul class="nav-bar_list" role="list">
            <li class="nav-bar_item active">
                <a href="#feed" class="nav-bar_link">
                    <img src="/images/nav-icon-1.svg" alt="Feed" class="nav-bar_link-icon">
                    <span>Feed</span>
                </a>
            </li>
            <li class="nav-bar_item">
                <a href="#updates" class="nav-bar_link">
                    <img src="/images/nav-icon-2.svg" alt="Updates" class="nav-bar_link-icon">
                    <span>Updates</span>
                </a>
            </li>
            <li class="nav-bar_item">
                <a href="#watchlist" class="nav-bar_link">
                    <img src="/images/nav-icon-3.svg" alt="Watchlist" class="nav-bar_link-icon">
                    <span>Watchlist</span>
                </a>
            </li>
            <li class="nav-bar_item">
                <a href="#howie" class="nav-bar_link">
                    <img src="/images/nav-icon-4.svg" alt="Howie" class="nav-bar_link-icon">
                    <span>Howie</span>
                </a>
            </li>
            <li class="nav-bar_item">
                <a href="#data-engine" class="nav-bar_link">
                    <img src="/images/nav-icon-5.svg" alt="Data engine" class="nav-bar_link-icon">
                    <span>Data engine</span>
                </a>
            </li>
        </ul>
    </div>
</nav>