// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-weight: 700;
    margin: 0;
    color: $headings-color;
    text-transform: uppercase;
    font-family: 'Integral', sans-serif;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    @include adaptive-value("font-size", 72, 32, 1);
}

h3,
.h3 {
    @include adaptive-value("font-size", 48, 32, 1);
    letter-spacing: -1px;
    line-height: 105%;

    @include media ("<phone") {
        letter-spacing: -1.4px;
    }
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

a {
    text-decoration: none;
}

p {
    color: rgba($color: $white, $alpha: 0.8);
    font-weight: 500;
    line-height: 150%;
    @include adaptive-value("font-size", 21, 16, 1);
    margin: 0;
}